#parse('templates/header.vm')

<h2>Customer</h2>

<table>
    <thead>
    <tr>
        <th>Property</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>FirstName</td>
        <td>$!customer.FirstName</td>
    </tr>
    <tr>
        <td>LastName</td>
        <td>$!customer.lastName</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>$!customer.email</td>
    </tr>
    <tr>
        <td>Rep</td>
        <td><a href="/employees/$!customer.SupportRepId">$!customer.SupportRep.Email</a> </td>
    </tr>
    </tbody>
</table>

<h4>Invoice</h4>
<table>
    <thead>
        <tr>
            <th>InvoiceId</th>
            <th>BillingAddress</th>
            <th>BillingCity</th>
            <th>BillingState</th>
            <th>BillingCountry</th>
            <th>BillingPostalCode</th>
        </tr>
    </thead>
    <tbody>
        #foreach( $item in $customer.Invoices )
        <tr>
                    <td>$!item.InvoiceId</td>
                    <td>$!item.BillingAddress</td>
                    <td>$!item.BillingCity</td>
                    <td>$!item.BillingState</td>
                    <td>$!item.BillingCountry</td>
                    <td>$!item.BillingPostalCode</td>

                </tr>
                #end

    </tbody>

</table>




<a href="/customers/$customer.CustomerId/edit">[Edit Customer]</a>
<a href="/customers/$customer.CustomerId/delete">[Delete Customer]</a>


#parse('templates/footer.vm')
